.projectPage {
    min-height: 100vh;
    background-color: #c9ffe4;
}

.container {
    border: 1px solid;
    width: 80%;
    /*height: 100%;*/
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}

.titleContainer {
    border: 1px solid;
    text-align: center;
    display: flex;
    justify-content: center;
}
.title {
    background-color: #c8c6c5;
}

.projects {
    border: 1px solid;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

