.footerPage {
    height: 25vh;
    background-color: #ffdaaa;
}

.container {
    border: 1px solid;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.title {

}

.icons {
    border: 1px solid;
display: flex;
}

.iconItem {
    width: 30px;
    height: 30px;
    background-color: #c8c6c5;
    margin: 20px;
}